lesson:
https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions.html

In [1]:
animals=["lion", "tiger", "crocodile", "vulture", "hippo"]

In [2]:
print(animals)

['lion', 'tiger', 'crocodile', 'vulture', 'hippo']

In [3]:
for creature in animals:
    print(creature)

lion
tiger
crocodile
vulture
hippo

In [5]:
for creature in animals:
    pass

In [6]:
print(creature)

hippo

In [7]:
import os
import pandas as pd

In [8]:
os.mkdir("../data/yearly_files")

In [9]:
os.listdir("../data/")

['surveys2001.csv',
 'surveys2002.csv',
 'speciesSubset.csv',
 'bouldercreek_09_2013.txt',
 'species.csv',
 'yearly_files',
 'surveys.csv',
 'out.csv',
 'portal_mammals.sqlite',
 'readme.txt',
 '.ipynb_checkpoints',
 'surveys_complete.csv',
 'plots.csv']

In [10]:
surveys_df = pd.read_csv("../data/surveys.csv")

In [11]:
survey_2002 = surveys_df[surveys_df["year"] == 2002]

In [12]:
survey_2002.to_csv("../data/yearly_files/surveys_2002.csv")

In [13]:
os.listdir("../data/yearly_files/")

['surveys_2002.csv']

In [14]:
surveys_df["year"]

0        1977
1        1977
2        1977
3        1977
4        1977
         ...
35544    2002
35545    2002
35546    2002
35547    2002
35548    2002
Name: year, Length: 35549, dtype: int64

In [15]:
surveys_df["year"].unique()

array([1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002])

In [ ]:
for year in surveys_df["year"].unique():
    filename = "../data/yearly_files/surveys" + str(year) + ".csv"
    print(filename)