# Indexing, Slicing and subsetting DataFrames

In [2]:
import pandas as pd

In [3]:
survey_df = pd.read_csv("../data/surveys.csv")

In [4]:
survey_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [ ]:
surv